#interaction-container {
  display: flex;
  margin-top: 1px;
  border-top: 1px solid rgb(223, 223, 223);
  border-bottom: 1px solid rgb(223, 223, 223);

  #interactants-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 15px 0;

    .interaction-icon:hover {
      color: #00acee;
    }
    .i-icon {
      transition: 0.3s;
      &:hover {
        transform: scale(1.05);
      }
    } 
  }
}