$faint-white: rgb(238, 238, 238);
$comment-white: rgb(238, 238, 238);
$input-bg-color: rgb(223, 223, 223);

#comment-section {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 270px;
  flex-direction: column;
  overflow-y: scroll;
  margin-top: 5px;
  border-radius: 8px;

  &::-webkit-scrollbar {
    width: 0.5px; /* width of the entire scrollbar */
  }

  &::-webkit-scrollbar-thumb {
    background-color: grey; /* color of the scroll thumb */
    border-radius: 8px; /* roundness of the scroll thumb */
  }

  #comment-card-container {
    flex: 1;
    padding: 14px 0;
    background-color: $faint-white;
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 8px;
    margin: 1px 0;
    #commenter-profile {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      align-self: flex-start;
      margin: 0 3%;
    }
    #comment-data-container {
      display: flex;
      flex-direction: column;
      flex: 2;

      #commenter-username {
        font-weight: bold;
        font-size: 15px;
        color: #333;
        margin-bottom: 3px;
      }

      #comment {
        color: #333;
        border-radius: 8px;
        font-weight: 500;
        max-width: 85%;
        width: 85%;
        font-size: 14px;
        background-color: $comment-white;
        padding: 5px 3%;
      }
    }
  }
}

#comment-input-container {
  display: flex;
  align-items: center;
  background-color: $input-bg-color;
  margin-top: 7px;
  margin-bottom: 10px;
  max-height: 400px;
  border-radius: 20px;

  #comment-input {
    padding: 14px 3%;
    flex: 3;
    font-size: small + 100;
    font-weight: 500;
    height: auto;
    font-size: 14px;
    font-family: sans-serif;

    &::-webkit-scrollbar {
      width: 2.1231px; /* width of the entire scrollbar */
    }

    &::-webkit-scrollbar-thumb {
      background-color: grey; /* color of the scroll thumb */
      border-radius: 8px; /* roundness of the scroll thumb */
    }

    &:focus {
      outline: none;
    }
  }

  #send-logo-container {
    align-self: center;
    display: flex;
    margin: 0 1.35%;
    align-items: center;
    justify-content: center;
    flex: 0.2;
    border-radius: 50%;
    cursor: pointer;
  }
}
