#request-container-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 21px;
  margin: 15px 0;
  margin-bottom: 50px;
}

#request-card-container {
  display: flex;
  width: 35%;
  border-radius: 10px;
  background-color: #f0f0f0;
  padding: 20px 2%;
  align-items: center;
  margin-bottom: 5px;

  img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }

  #requester-username {
    font-weight: bold;
    flex: 1.2;
    margin-left: 3%;
    font-size: 18px;
    overflow: hidden;
  }

  #react-btn-container {
    display: flex;
    align-items: center;
    flex: 1.2;
    justify-content: center;

    #request-react-btn {
      width: 49%;
      border-radius: 5px;
      color: #fff;
      background-color: #bdbdbd;
      font-weight: bold;
      padding: 10px 3%;
      border: none;
      margin: 0 1%;
      cursor: pointer;
      overflow: hidden;
    }
  }
}

#default-request-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 350px;
  width: 100%;
  flex-direction: column;

  div {
    font-weight: bold;
    margin-top: 20px;
    font-size: 18px;
  }
}

@media screen and (max-width: 1200px) {
  #request-card-container {
    width: 40%;
  }
}

@media screen and (max-width: 1020px) {
  #request-card-container {
    width: 45%;
  }
}

@media screen and (max-width: 920px) {
  #request-card-container {
    width: 60%;
  }
};

@media screen and (max-width: 750px) {
  #request-card-container {
    width: 65%;
  }
}

@media screen and (max-width: 650px) {
  #request-card-container {
    width: 70%;
  }
}

@media screen and (max-width: 580px) {
  #request-card-container {
    width: 90%; 
    #requester-username {
      flex: 0.9;
      font-size: 16px;
    }
    #request-card-img {
      width: 35px;
      height: 35px;
    }
  }
}

@media screen and (max-width: 380px) {
  #request-card-container {
    width: 94%;
    #react-btn-container {
      flex: 1.8;
    }
  }
};

@media screen and (max-width: 310px) {
  #request-card-container {
    #react-btn-container {
      flex: 1.5;
    }
  }
}
