$faint-white: rgb(250, 250, 249);

#profile-post-area-container {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

#profile-header-container {
  width: 100%;
  flex: 1;
  padding: 25px 0;
  background-color: $faint-white;

  #profile-img-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #profile-information-overview {
    display: flex;
    align-items: center;
    width: 60%;
    margin: 20px auto;
    padding-top: 10px;

    #profile-overview-container {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .overview {
        font-weight: bold;
        text-transform: capitalize;
        color: #333;
        cursor: grab;
      }
    }
  }
}
