#main-mainpage-container {
    margin-top: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
};

#big-popup-container {
    position: fixed;
    top: 400px;
    left: 30%;
    width: 30%;
}