$faint-white: rgb(243, 243, 243);

#suggestion-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0.5%;
  width: 30%;
  z-index: 10;
  background-color: $faint-white;
  border-radius: 8px;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 44%;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    background-color: $faint-white;
    transform: translateY(-11px) rotate(45deg);
  }

  #suggested-user-card {
    display: flex;
    font-weight: bold;
    align-items: center;
    padding: 10px 3%;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 10;

    &:hover {
      background-color: #d8d8d8;
    }

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    div {
      margin-left: 3%;
    }
  }
};

@media screen and (max-width: 1180px) {
  #suggestion-container {
    border: 2px solid grey;
    width: 35%;

    &::after {
      border-top: 2px solid grey;
      border-left: 2px solid grey;
    }
  }
}

@media screen and (max-width: 900px) {
  #suggestion-container {
    width: 42%;
  }
}

@media screen and (max-width: 800px) {
  #suggestion-container {
    width: 48%;
  }
}

@media screen and (max-width: 720px) {
  #suggestion-container {
    width: 55%;
  }
};

@media screen and (max-width: 650px) {
  #suggestion-container {
    width: 61%;
  }
};

@media screen and (max-width: 600px) {
  #suggestion-container {
    opacity: 0;
  }
};